@page "/fincen"

<h1>FinCEN</h1>

<a href="https://www.telerik.com/design-system/docs/templates/previews/fintech-dashboard/">View FinCEN Dashboard</a>
<a href="https://telerik.github.io/kendo-react/kendo-react-personal-finance/transactions">Kendo React Personal Finance</a>
<a href="https://demos.telerik.com/blazor-financial-dashboard">Blazor Financial Dashboard</a>
<a href="https://demos.telerik.com/aspnet-core/finance-dashboard">.Net Core Finance Dashboard</a>

<iframe src="https://www.telerik.com/design-system/docs/templates/previews/fintech-dashboard/" width="100%" height="100%" title="FinCEN"></iframe>